<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.asterinet.react.bgactions">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application>
        <service android:name="com.asterinet.react.bgactions.RNBackgroundActionsTask" />
    </application>
</manifest>
